<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbasics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasics">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <receiver android:name=".AndroidBasicsBroadcastReceiver" android:exported="true"/>-->

        <!--     Receiver Code - Ordered Broadcast Receiver -Send One Broadcast to Multiple Receivers & Set Priority at Receiver    -->
        <!--Static Register  Order Set by Priority attribute (by default 1st Dynamic then According To Written Order In Manifest But Not guaranteed )-->

        <receiver android:name=".OrderedBReceiver1">
            <intent-filter android:priority="101">
                <action android:name="com.example.custombroadcastsender.ACTION_SEND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".OrderedBReceiver4">
            <intent-filter android:priority="104">
                <action android:name="com.example.custombroadcastsender.ACTION_SEND" />
            </intent-filter>
        </receiver>

        <receiver android:name=".OrderedBReceiver2">
            <intent-filter android:priority="102">
                <action android:name="com.example.custombroadcastsender.ACTION_SEND" />
            </intent-filter>
        </receiver>

        <!--       Calling Implicit Broadcast as Explicit Broadcast    -->
        <!--

                <receiver android:name=".ImplicitBroadcastAsExplicit">
                    <intent-filter>
                        <action android:name="com.packgageNameOfThisProject.ACTION_SEND" />
                    </intent-filter>
                </receiver>
        -->

    </application>

</manifest>